<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" >
    <link rel="stylesheet" href= "{% static 'CSS/coming-soon.css' %}">
    <title>Coming soon</title>
</head>
<body>
    <div class="container">
        <h1><span>Coming</span>soon ...</h1>
    </div>
    <div class = "loading">
        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
        <div class="bar bar3"></div>
        <div class="bar bar4"></div>
        <div class="bar bar5"></div>
        <div class="bar bar6"></div>
        <div class="bar bar7"></div>
        <div class="bar bar8"></div>
    </div>
    <div class="links">
        <a class="btn" href="https://github.com/projectdreamspace">
            <i class="fab fa-github"></i>
        </a>
        <a class="btn" href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWtDqNRJgtFnrWNwKpVLLkMXLzBhpMCZvmDkKXXXMRDHBGhmCfmfjKWwFbSbvzzxdLcglTTJv">
            <i class="far fa-envelope"></i>
        </a>
        <a  class="btn" href="https://join.slack.com/t/code-for-you/shared_invite/enQtNTkyMjk2MjMzMDA4LWQ5MWJkOWUyY2FhMWY2MjVhYmQ5MDI2ODc3YTFhY2MzZTE5ZDdmNzgxYWM1NDg4NDc4MTllY2Q1NDYyYjg3ODk">
            <i class="fab fa-slack"></i>
        </a>
    </div>
    <div class="menu">
        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
    </div>
    <div class="dropdown" id="chk">
        <h4>Если у тебя есть мечта, которую ты хочешь воплотить в жизнь и рассказать об этом всем, чтобы вдохновить их, тогда Dreams come true создан для тебя.</h4>
    </div>
</body>
</html>